@charset "UTF-8";

:root{
    /*My favorite colors*/
    --color00:#4358F7;
    --color01:#8B37FC;
    --color02:#4C31E0;
    --color03: #3174E0;
    --color04:#37B6FC;
    --color05:#05055c;
}
/*Media query for medium devices*/
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, var(--color04),var(--color02));
    }
}
/*Media query for large devices*/
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, var(--color01),var(--color02));
    }
}
/*Media query for print*/