@charset "UTF-8";

:root{
    /*My favorite colors*/
    --color05:#05055c;
    --color06: #FDD909;
    --color07: #F50707;
    --color08: #000000;
    /*My favorite fonts*/
    --fonts-header00: 'Share Tech Mono', monospace;
    --fonts-header01:'college',arial, sans-serif; 
    --fonts-body: 'Roboto Condensed', sans-serif;
}
/*Media query for medium devices*/
@media screen and (min-width: 768px)  {
    html,body{
        background-image: linear-gradient(to top, var(--color08),var(--color07));
    }
    main{
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 5px;
        padding-bottom: 10px;
        background-color: #0000006e;
    }
    table{
        background-color: white;
    }
    main article{
        background-color: white;
    }
    
    
}
/*Media query for large devices*/
@media screen and (min-width: 992px){
    html,body{
       background-image: linear-gradient(to top, var(--color08),var(--color07));
    }
    main{
        margin-left: 70px;
        margin-right: 70px;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        background-color: #0000006e;
        
    }
    table{
        background-color: white;
    }
    main article{
        background-color: white;
    }
    
}
/*Media query for print*/