
@charset "UTF-8";

/*Mobile first*/

*{
    margin: 0px;
    padding: 0px;
}
                              /*External Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
@font-face {
    font-family: 'college';
    src: url(../fonts/CollegiateInsideFLF.ttf) format(truetype);
}
:root{
    /*My favorite colors*/
    --color00:#4358F7;
    --color01:#8B37FC;
    --color02:#4C31E0;
    --color03: #3174E0;
    --color04:#37B6FC;
    --color05:#05055c;
    /*My favorite fonts*/
    --fonts-header00: 'Share Tech Mono', monospace;
    --fonts-header01:'college',arial, sans-serif; 
    --fonts-body: 'Roboto Condensed', sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
    font-family: var(--fonts-body);
    background-color: var(--color04);
    background-attachment: fixed;
    
}
header h1{
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 10px;
    font-family: var(--fonts-header01);
    font-weight: normal;
    color: white;
}
main{
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 1px #00000088;
    padding-top: 20px;
    padding-bottom: 5px;
    
    
}

main article{
    text-indent: 12px;
    padding: 10px 0px;
}
article > p{
    line-height: 2em;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
article p::first-letter{
    font-size: 1.9em;

}
article a{
    text-decoration: none;
    color: black;
    
}
article a:hover{
    text-decoration: underline;
    color: var(--color04);
    padding: 5px;
    
}
article a::after{
    content: '\1F517';
}
article iframe{
    display: block; 
    width: 100%;
    margin: auto;
    
}
caption{
    background-color: var(--color05);
    padding: 20px ;
    color: white;
    font-family: var(--fonts-header01);
    font-size: 1.3em;
    font-weight: bold;
}
table{
    border-collapse: collapse;
    margin: auto;
    width: 98%;
    box-shadow: 0px 0px 5px 1px #00000088;
    
    
}
td,th{
    border: 2px solid black;
    padding: 5px;
    
}
thead > tr >th{
    position: sticky;
    top: -1px;
    background-color:var(--color05);
    color: white;
    
}
tbody tr >th:hover{
    background-color:var(--color05);
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
/*Set my Footer*/
footer{
    text-align: center;
    background-color: var(--color05);
    padding: 15px;
    color: white;
    font-family: var(--fonts-header01);
    font-size: 0.7em;
    font-weight: bold;
}
