
@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
                              /*External Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
@font-face {
    font-family: 'college';
    src: url(../fonts/CollegiateInsideFLF.ttf) format(truetypy);
}
:root{
    /*My favorite colors*/
    --color00:#4358F7;
    --color01:#8B37FC;
    --color02:#4C31E0;
    --color03: #3174E0;
    --color04:#37B6FC;
    --color05:#05055c;
    /*My favorite fonts*/
    --fonts-header00: 'Share Tech Mono', monospace;
    --fonts-header01:'college',arial, sans-serif; 
    --fonts-body: 'Roboto Condensed', sans-serif;
}
body{
    font-family: var(--fonts-body);
    background-image: linear-gradient(to bottom, var(--color04), var(--color00), var(--color03));
    background-attachment: fixed;
    min-width: 98vw;
}
header h1{
    margin: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}
caption{
    background-color: #05055c;
    padding: 40px;
    color: white;
    font-family: var(--fonts-header01);
    font-size: 1.3em;
    font-weight: bold;
}
main{
    background-color: white;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 40px;

    margin-top: 10px;
    box-shadow: 1px -1px 8px 1px #0000008c;
    padding-top: 20px
}
main article{
    margin-bottom: 15px;
    padding: 5px;
}
article p::first-letter{
    font-size: 1.9em;

}
table{
    min-width: 800px;
    border-collapse: collapse;
    margin: auto;
    position: relative;
    
}
td,th{
    border: 2px solid black;
    padding: 5px;
    
}
thead > tr >th{
    position: sticky;
    top: -1px;
    background-color:var(--color05);
    color: white;
    padding: 15px;
}
tbody tr >th:hover{
    background-color:var(--color05);
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: var(--color05);
    padding: 15px;
    color: white;
    font-family: var(--fonts-header01);
}